:root {
	--yellow: #f9ff00;
	--blue: #00fff8;
	--red: #ff0086;
	--lightGrey: #d8d8d8;
	--darkGrey: #454545;
	--black: #000000;
}


html,
body {
	margin: 0;
	padding: 0;
    font-family: "Work Sans", sans-serif;
	font-size: 14px;
	color: var(--black);
}

h1, h2, h3, h4 {
	font-weight: normal;
}

#container {
	width: 1080px;
	height: 1920px;
	/*border: 1px dashed;*/
	background-image: url("./assets/sfondo.jpg");
	background-size: 100%;
}

/* TOP PANEL STYLES */

#top-panel {
	width: calc(100% - 70px);
	padding: 0 35px 35px;
}

.interaction-header {
	text-transform: uppercase;
	font-size: 1rem;
	text-align: center;
	margin: 0;
	padding-top: 35px;
}

.buttons-container {
    display: flex;
	justify-content: space-between;
}

/* button styles */
.riq {
	margin-top: 10px;
}

.title {
	font-size: 2rem;
	margin: 5px 0 2px;
}

.scrittaMagenta {
	color: var(--red);
}

.scrittaCyan {
	color: var(--blue);
}

.scrittaYellow {
	color: var(--yellow);
}

.subtitle {
	font-size: 0.9rem;
	margin: 0;
}

.btn-toggle {
	outline: 2px solid var(--lightGrey);
	height: 240px;
	width: 240px;
	margin-top: 15px;
	background-size: 100%;
}
.btn-toggle.selected {
	outline-width: 8px;
}

#toggle-1 {
	background-image: url("./assets/bottone1.jpg");
}

#toggle-1.selected {
	outline-color: var(--red);
	background-image: url("./assets/bottone1clicked.jpg");
}

#toggle-2 {
	background-image: url("./assets/bottone3.jpg");
}

#toggle-2.selected {
	outline-color: var(--blue);
	background-image: url("./assets/bottone3clicked.jpg");
}

#toggle-3 {
	background-image: url("./assets/bottone2.jpg");
}

#toggle-3.selected {
	outline-color: var(--yellow);
	background-image: url("./assets/bottone2clicked.jpg");
}

.legenda {
	margin-top: 15px;
	display: flex;
	justify-content: center;
	width: 240px;
}

.legenda img {
	margin: 0 6px;
}

/* .selected {
	outline: 10px dashed #000;
	outline-offset: -10px;
} */

/* timeline styles */
#timeline {
	display: flex;
	justify-content: center;
}
.timeline_button text {
	font-size: 0.9rem;
}
#timeline_2011_2040 path {
	position: relative;
	left: 0;
	fill: none;
	stroke: #454545;
	stroke-width: 2px;
	stroke-miterlimit: 10;
}

/* MAP STYLES */
#visualization {
	position: relative;
}

/* GRAPHS STYLES */
.bianco-container {
	outline: 2px solid var(--lightGrey);
	background: white;
}

#visualization .bianco-container {
	display: none;
}

#areachart {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.graph {
	width: 390px;
	height: 180px;
}

#areachart p {
	font-family: "Work Sans", sans-serif;
	font-size: 14px;
	/*line-height: 30px;*/
	margin: 0 15px 5px;
}

p#nomeprovincia {
	font-family: "Work Sans", sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	margin: 20px 15px 5px;
}
.graph-rect {
	fill: none;
	stroke: var(--black);
	stroke-width: 2px;
}

/* BOTTOM PANEL STYLES */

.bottom-panel {
	padding: 0 35px;
}

#spiega {
	padding: 25px;
	line-height: 1.7;
	column-count: 2;
}

#spiega p {
	margin: 0 0 5px;
}

.testoSotto {
	font-size: 0.7rem;
	padding: 10px 0 0 25px;
	margin: 0;
}
